.blockedUIScreen {
  opacity: 0.4;
  z-index: 10;
  pointer-events: none;
  position: relative;
}

.blockedUIScreenP {
  opacity: 0.4;
  z-index: 10;
  pointer-events: none;
}

.blockUISpinner {
  z-index: 15;
  font-size: 25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.opaciTySwitch {
  transition: opacity 0.25s ease-in-out;
}
