footer {
  background: rgba(0, 0, 0, 0);
  padding: 15px;
  height: 260px;
  border-top: 3px solid;
  border-image: linear-gradient(
    90deg,
    rgba(0, 123, 255, 1) 0%,
    rgba(100, 100, 100, 1) 25%,
    rgba(108, 117, 125, 1) 50%,
    rgba(108, 117, 125, 1) 75%,
    rgba(0, 123, 255, 1) 100%
  );
  border-image-slice: 1;
}

.footer-element {
  display: block;
}

.footer-element-header {
  margin-bottom: 5px;
  text-align: left;
}

.footer-element-text {
  text-align: left;
  font-size: 0.75em;
  margin-bottom: 5px;
  margin-left: 15px;
  display: block;
}

.footer-element-copyright {
  width: 100%;
}

.footerColor {
  background-color: black;
}

.grad2 {
  background-image: -webkit-linear-gradient(30deg, rgb(210, 210, 210) 25%, rgb(0, 123, 255) 250%);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 15;
}

.waterMelon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url(../../images/watermelon.svg);
  width: 90%;
  height: 90%;
  z-index: -1;
  filter: invert(41%) sepia(70%) saturate(5844%) hue-rotate(200deg) brightness(103%) contrast(106%);
  opacity: 15%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
