.hintsContainer {
  width: 0;
  height: 0;
  position: relative;
  left: -450px;
  top: 25px;
}

.hintsTable {
  background-color: white;
  position: absolute;
  width: 450px;
  border: 3px solid rgb(5, 123, 255);
  z-index: 6;
}

.hintsTable th {
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 22px;
}
.hintsTable tr {
  text-align: left;
}
.hintsTable td {
  cursor: pointer;
  font-size: 18px;
}

.lastSearchedCross {
  cursor: pointer;
  color: rgb(100, 100, 100);
  transition-duration: 0.5s;
  transition-property: transform;
}

.lastSearchedCross:hover {
  color: rgb(5, 123, 255);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

@media (max-width: 1398px) {
  .hintsTable {
    width: 350px;
    font-size: 14px;
    overflow-y: scroll;
    max-height: 400px;
  }

  .hintsContainer {
    left: -350px;
  }
}
@media (max-width: 1240px) {
  .hintsTable {
    width: 350px;
    font-size: 13px;
  }

  .hintsContainer {
    left: -250px;
  }
}
@media (max-width: 1130px) {
  .hintsTable {
    width: 350px;
    font-size: 12px;
  }

  .hintsContainer {
    left: -180px;
  }
}
