.max-size {
  max-width: auto;
  max-height: 340px;
}

.backToTop {
  border: 3px solid rgb(100, 100, 100);
}

.backToTop:hover {
  border: 3px solid rgb(5, 123, 255);
  cursor: pointer;
}

.image {
  cursor: pointer;
}
.img-fluid {
  max-width: 50%;
}

@media (max-width: 1088px) {
  .image {
    max-width: 25%;
    max-height: auto;
    margin-right: 10px;
    cursor: pointer;
  }
  .subimage-container {
    padding-bottom: 10px;
    margin-bottom: 15px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
  .img-fluid {
    max-width: 100%;
  }
}
