.align-text-center {
  display: flex;
  align-items: center;
}

.CartBorder {
  border-bottom: 2px solid lightgrey;
}

.font-size-bigger {
  font-size: 22px;
}

.image-container2 {
  height: 120px;
  width: 80px;
}

.feature_image2 {
  display: block;

  max-height: 100%;
  height: auto;

  max-width: 100%;
  width: auto;
}

.center-Element-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.hideLabels {
  display: block;
}

.smallScreenPadding {
  padding-bottom: 0px;
}

@media (max-width: 1200px) {
  .hideLabels {
    display: none !important;
  }
  .smallScreenPadding {
    padding-bottom: 15px;
  }
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.blockedUIScreen {
  opacity: 0.4;
  z-index: 10;
  pointer-events: none;
  position: relative;
}

.blockUISpinner {
  z-index: 15;
  font-size: 25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.opaciTySwitch {
  transition: opacity 0.25s ease-in-out;
}
