.crownColor {
  background: linear-gradient(
    to right,
    rgba(0, 123, 255, 1) 0%,
    rgba(0, 123, 255, 1) 50%,
    rgba(100, 100, 100, 1) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.specialProductWidth {
  max-width: 209px;
}
